body {
  font-family: sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputButtonContainer {
  margin-bottom: 10px; 
}

#taskInput {
  padding: 5px;
  font-size: 14px;
}

#addTaskButton {
  padding: 6px 10px;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 1rem;
}
#addTaskButton:hover {
  background-color: #ddd;
  transform: scale(1.1);
}

#taskList {
  list-style-type: disc;   
  padding-left: 20px;      
  margin: 0;               
}
