body {
  font-family: sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputButtonContainer {
  margin-bottom: 10px; 
}

#taskInput {
  padding: 5px;
  font-size: 14px;
}

#addTaskButton {
  padding: 6px 10px;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 1rem;
}
#addTaskButton:hover {
  background-color: #ddd;
  transform: scale(1.1);
}

#taskList {
  list-style-type: disc;   
  padding-left: 20px;      
  margin: 0;               
}

li.task.completed .text { 
  text-decoration: line-through;
  opacity: 0.7;
}

i.task { display: flex; gap: 8px; align-items: center; }
li.task .completeBtn, li.task .deleteBtn { cursor: pointer; border-radius: 0.5rem; padding: 2px 6px; }
li.task .completeBtn { border: 1px solid #0a0; }
li.task .deleteBtn { border: 1px solid #a00; }

