body{
    font-family: Arial, sans-serif;
    margin: 20px;
    justify-content: center;
    display: flex;
    background-color: black;
}
#addTaskButton {
    margin-left: 1rem;
    padding: 0.5rem 2rem;
}
input{
    padding: 0.5rem 10rem;
}
button{
    padding: 5px 10px;
    border-radius: 12rem;
}
button:hover{
    background-color: lightblue;
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.1);
}